#
# Copyright (C) 2021 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on init
    chmod 0666 /dev/fpsdev0
    chown system system /dev/fpsdev0

    chmod 0666 /dev/fpsensor
    chown system system /dev/fpsensor

    chmod 0666 /dev/goodix_fp
    chown system system /dev/goodix_fp

    chmod 0666 /dev/madev0
    chown system system /dev/madev0

    chmod 0666 /dev/sunwave_fp
    chown system system /dev/sunwave_fp

on post-fs-data
    mkdir /data/system/cdfinger 0700 system system
    restorecon /data/system/cdfinger

    mkdir /data/fpsensor
    chown system system /data/fpsensor
    chown system system /data/fpsensor/socket
    chmod 0660 /data/fpsensor
    chmod 0660 /data/fpsensor/socket
